# ----- Build / Compiled files -----
*.o
*.obj
*.slo
*.lo
*.exe
*.out
*.app

# Precompiled headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger files
*.pdb
*.dwo

# Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.a
*.lib
*.la
*.lai

# Fortran modules
*.mod
*.smod

# Dependency files
*.d

# ----- IDE / Environment -----
.idea/
*.iml

# ----- CMake / Build directories -----
cmake-build-debug/
lab1/cmake-build-debug/
lab1/.idea/

# Ігноруємо згенеровану документацію
docs/
html/
latex/
